.h{
    padding: 15px 58px;
    background-color: #232F3E;
    font-family: "adihausDin", Arial, Helvetica, sans-serif;
}
.h-flex{
    display: flex;
}
.h-left{
    flex: 1;
    display: flex;
}
.h-logo{
    margin-right: 15px;
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}
.h-right{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
.h-ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.h-li{
    margin-left: 15px;
    
}
.h-a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.h-icon{
    width: 14px;
    height: 14px;
    vertical-align: text-top;
}
.h-a:hover{
    text-decoration: underline;
}
.h-center{
    padding-top: 20px;
}
.h-centerUl{
    list-style: none;
    display: flex;
    justify-content: center;
}
.h-centerLi{
    margin-right: 15px;
}
.h-centerA{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.h-centerA:hover{
    text-decoration: underline;
}