.card {
    margin: 5rem;
    justify-content: center;
  }
  .nombre {
    font-weight: 700;
    font-size: 2rem;
    color: #1d2025;
  }
  .marca {
    font-weight: 400;
    font-size: 1.5rem;
    color: #1d2025;
  }
  .precio {
    font-weight: 400;
    font-size: 1.5rem;
    color: #1d2025;
  }
.item-list-container__title{
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
  .container{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card-img-top{
    width: 30rem;
  }