.tb{
    display: flex;
    padding: 12px 50px;
    background-color: black;
    color: #fff;
}
.tb-left{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tb-text{
    padding-right: 15px;
    font-size: 11px;
    text-transform: uppercase;
   font-family: "adihausDin", Arial, Helvetica, sans-serif;
   font-weight: bold;
   line-height: 15px;
   letter-spacing: 2px;
}
.tb-right{
    flex: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.tb-icon{
    width: 25px;
    height: 20px;
    vertical-align: bottom;
    margin: 0 3px;
}
.tb-link{
    padding-right: 15px;
    font-size: 13px;
    text-decoration: none;
    color: #fff;
    font-family: "Amazon Ember", Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.tb-link:hover{
    color: blue;
    font-weight: bold;
}