.count-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.countMM {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    
}
.countMinus, .countMore{
    font-size: 15px;
    border: 1px solid #000;
    width: 100%;
    height: 100%;
}
.countNumber{
    margin: 20px 20px;
}
.btn-primary{
    border: none;
    width: 112px;
    height: 36px;
    cursor: pointer;
    background-color: #232F3E;
    margin: 15px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: "adihausDin", Arial, Helvetica, sans-serif;
}